body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}
#header {
  background-color: #EEEEEE;
}
#courses{
  background-color: #EEEEEE;
  padding-top:5%;
  padding-bottom : 5%;
}
#about{
  padding-top: 5%;
  padding-bottom : 5%;
}
.about-heading{
  color:#1C658C;
  font-size: 3rem;
  margin-bottom: 4rem;
}
.harshalsir{
  height:200px;
}
.course-card{
  margin:5%;
  border-radius: 2rem;
  padding-bottom:3rem;
}
.course-title{
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
  color: #1C658C;
}
i {
  color: #1C658C;
  float: right;
}
.course-img{
  height:300px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.feature-card {
  padding: 2rem 0rem 1rem 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #D8D2CB;
}

.nav-link {
  color: #1C658C;
  margin: 0 0.5rem;
}
.nav-link:hover {
  color: #1C658C;
  background-color: #D8D2CB;
}
.container-fluid .nav-bar-container{
  padding-left: 0;
  padding-right: 0;
  padding-top: 3%
}
.container-fluid {
  padding: 0 12%;
}

.headingrow {
  text-align: center;
}

.headervector {
  width: 85%;
  padding: 2rem;
}

.heading {
  padding: 20% 0;
  font-family: 'Montserrat', sans-serif;
}

.feature-text {
  margin-top: 6%;
  font-size: 1.25rem;
  color: #148f23;
}
.contact-us-form{
  text-align: left;
  background-color:#D8D2CB;
  padding:10%;
  border-radius: 2rem;
}
.contact-us-img{
  width:90%;
}
#contact-us{
  padding-top: 5%;
  padding-bottom : 5%;
}
footer{
  background-color:#D8D2CB;
  padding:5%;
}
button{
  margin-top: 1.5rem;
}
